body {
  background-color: black;
  color: white;
  font-family: Gotham;
  font-size: 15px
}

.container {
  background-color: black;
  color: white;
  width: 90vw;
  overflow: auto;
}

.container a {
  color: #39ace7;
  transition: color 0.3s linear;
  text-decoration: none;
}

.container a:hover {
  color: #0784b5;
  transition: color 0.3s linear;
  text-decoration: none;
}

a {
  color: #39ace7;
  transition: color 0.3s linear;
  text-decoration: none;
}

a:hover {
  color: #0784b5;
  transition: color 0.3s linear;
  text-decoration: none;
}

.splashBlue {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}

.about {
  background-color: #17bf63;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 25px;
  border-radius: 5px;
}

.url {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}

.contacting {
  background-color: #1a1a1a;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}

.contactingTopbar {
  background-color: #1a1a1a;
  padding: 0px;
}

.comment {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}

.tableLeft {
  background-color: #1f1f1f;
}

.tableRight {
  background-color: #2b2b2b;
}

.headerTop {
  background-color: #7d170e;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerBottom {
  background-color: #ff7400;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerTop a, .headerBottom a {
  font-size: 15px;
  color: white;
  transition: color 0.3s linear;
  text-decoration: none;
}

.headerTop a:hover, .headerBottom a:hover {
  font-size: 15px;
  color: #cfcfcf;
  transition: color 0.3s linear;
  text-decoration: none;
}

#friends {
  background-color: #1a1a1a;
  border: 0px;
}

audio {
  transition: all 0.5s;
  width: 50px;
  border-radius: 45px;
}

#floatRight form {
  display: none;
}

body {
  background-color: black;
  color: white;
  font-family: Gotham;
  font-size: 15px
}

.container {
  background-color: black;
  color: white;
  width: 90vw;
  overflow: auto;
}

.container a {
  color: #39ace7;
  transition: color 0.3s linear;
  text-decoration: none;
}

.container a:hover {
  color: #0784b5;
  transition: color 0.3s linear;
  text-decoration: none;
}

a {
  color: #39ace7;
  transition: color 0.3s linear;
  text-decoration: none;
}

a:hover {
  color: #0784b5;
  transition: color 0.3s linear;
  text-decoration: none;
}

.splashBlue {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}

.about {
  background-color: #17bf63;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 25px;
  border-radius: 5px;
}

.url {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}

#friends tr:nth-child(2n) {
    background-color: #3b3b3b;
}

.contacting {
  background-color: #1a1a1a;
  color: white;
  border: 0px;
  border-radius: 5px;
}

.comment {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}

.tableLeft {
  background-color: #1f1f1f;
}

.tableRight {
  background-color: #2b2b2b;
}

.headerTop {
  padding-left: 20px;
}

.headerBottom {
  background-color: #ff7400;
  padding-left: 20px;
}

.headerTop a, .headerBottom a {
  color: white;
  transition: color 0.3s linear;
  text-decoration: none;
}

.headerTop a:hover, .headerBottom a:hover {
  color: #cfcfcf;
  transition: color 0.3s linear;
  text-decoration: none;
}

#friends {
  background-color: #1a1a1a;
  border: 0px;
}

audio {
  transition: all 0.5s;
  width: 48px;
}

#custompadding {
  padding-right: 20px
}

.extended {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
}

.blogSection {
  background-color: #1a1a1a;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}

#friends tr:nth-child(2n) {
  background-color: #3b3b3b;
}

.interestsAndDetails {
  display: none;
}

.padding {
  padding: 10px;
}
